body {
    background: linear-gradient(-45deg,#0d6686,#12888d,#0d3386);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
    font-size: 24px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

#center {
    display: table;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.gamelabel {
    width: 20%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.gameicon {
    width: 20%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    
    border-width: 4px;
    border-style: solid;
    border-color: #ffffff;
}

.gameicon:hover {
    animation: border_pulse 1s linear infinite;
}

@keyframes border_pulse {
	0% {
		border-color: #444444;
	}
    50% {
		border-color: #ffffff;
	}
	100% {
		border-color: #444444;
	}
}