* {
    font-family: "Helvetia", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    color:var(--color-tone-1);
    overflow: hidden;
    touch-action: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Edge, Opera and Firefox */
}

body {
    background: #ffffff;
    margin: 0px;
}

.zoomButton {
    position: absolute;
    border-radius: 4px;
    right: 5px;
    width: 29px;
    height: 29px;
    border: 0px;
    margin: 0px;
    outline: 0px;
    padding: 0px;
    background-color: rgba(100, 100, 100);
    color: white;
    font-size: calc(8vh*20/45);
    cursor: pointer;
}

#zoomIn {
    top: 5px;
}

#zoomOut {
    top: 37px;
}

#game {
    width: 100vw;
    height: 70vh;
    position: absolute;
    right: 0; top: 0;
}

#keyboard {
    z-index: 2;
    width: 100vw;
    height: 30vh;
    background: #eeeeee;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
}

.keyrow {
    position: absolute;
    top: 50%; left: 50%;
    width: 100vw;
    /* margin-bottom: 15px; */
}

#kr1 {
    transform: translate(-50%,-175%);
}
#kr2 {
    transform: translate(-50%,-50%);
}
#kr3 {
    transform: translate(-50%,75%);
}

.key {
    border: #000000;
    border-style: solid;
    border-width: 2px;
    margin-left: 5px;
    margin-right: 5px;
    /* min-width: 8vh; */
    height: 8vh;
    background: #ffffff;
    /* border-radius: 3px; */
    font-size: calc(8vh*20/45);
}

.key:hover {
    border-style: dashed;
    cursor: pointer;
}

.keyinv:hover {
    border-style: none;
    cursor: default;
}

.keywarn {
    background: #ffdddd;
    /* min-width: 8vh; */
}

.keyinv {
    background: #eeeeee;
    border: #eeeeee;
    color: #eeeeee;
}

.lockbl {
    position: absolute;
    left: 15px;
    bottom: 0px;
}

.nudget {
    bottom: 28px;
}

.nudget2 {
    bottom: 56px;
}

.locktm {
    position: absolute;
    left: 50%;
    width: 100vh;
    text-align: center;
    margin-left: -50vh;
    top: 0px;
    font-size: 26px;
}

.ttext {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.tsubtitle {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ttitle {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
    font-size: calc(8vh*20/45);
}

.tli {
    display: list-item;
    list-style-position: inside;
    list-style-type: disc;
}

.tlist {
    margin-top: 0px;
}

.xButton {
    position: absolute;
    right: 5px;
    top: 5px;
}

.xButton:hover {
    cursor: pointer;
}

.popup {
    display: none;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40vh 0 0 -20vw;
    height: 80vh;
    width: 40vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
}

.miniDifficultySetting {
    display: none;
    position: relative;
    margin-left: 5px;
    width: 48px;
    height: 34px;
    font-size: 16px;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffff;
    border-color: #000000;
}

.miniDifficultySetting:hover {
    cursor: pointer;
    background-color: #ddeeff;
}

#settingsMenu {
    padding-left: 40px;
}

#tutorialoverlay {
    display: none;
    z-index: 3;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff88;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0c6fc1;
  }

  input:not(:checked):disabled + .slider {
    background-color: #8b8b8b;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #0c6fc1;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }